[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
psycopg2-binary = "*"
psycopg2 = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-webtest = "*"

[requires]
python_version = "3.10"
