#optionsTitle {
    text-align: center;
    font-size: 9rem;
    font-family: 'sans-serif';
    color: #333;
    margin-top: 40px;

}

#clickTitle {
    text-align: center;
    font-size: 4rem;
    font-family: 'sans-serif';
    color: #333;
    margin-top: 20px;
}

#placesDiv {
    background-color: #f1fdcd;
    border-radius: 23px 23px 23px 23px;
    width: 90%;
    height: 600px;
    margin-left: 80px;
    position: relative;
    top: -60px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 130px;

}

.imgDes {
    margin-top: 40px;
    width: 320px;
    height: 250px;
}

.h1Des {
    text-align: center;
    font-size: 2.5rem ;
}
