.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(150, 146, 146);
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

