/* .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(150, 146, 146);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.loginForm {
    text-align: center;

}

input, label {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Quicksand&display=swap');

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

}

body {
  box-sizing:border-box;
  background-color: #CCA9B4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23CCA9B4' width='11' height='11'/%3E%3Crect fill='%23ceaab4' x='10' width='11' height='11'/%3E%3Crect fill='%23cfabb4' y='10' width='11' height='11'/%3E%3Crect fill='%23d1abb4' x='20' width='11' height='11'/%3E%3Crect fill='%23d3acb4' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d4adb4' y='20' width='11' height='11'/%3E%3Crect fill='%23d6aeb4' x='30' width='11' height='11'/%3E%3Crect fill='%23d7aeb4' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d9afb4' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23dab0b4' y='30' width='11' height='11'/%3E%3Crect fill='%23dcb1b4' x='40' width='11' height='11'/%3E%3Crect fill='%23ddb2b4' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dfb3b4' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e0b4b3' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e1b5b3' y='40' width='11' height='11'/%3E%3Crect fill='%23e3b6b3' x='50' width='11' height='11'/%3E%3Crect fill='%23e4b7b3' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e5b8b3' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e6b8b3' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e7b9b2' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e8bbb2' y='50' width='11' height='11'/%3E%3Crect fill='%23e9bcb2' x='60' width='11' height='11'/%3E%3Crect fill='%23eabdb2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23ebbeb2' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23ecbfb1' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23edc0b1' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23eec1b1' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23efc2b1' x='70' width='11' height='11'/%3E%3Crect fill='%23efc3b1' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23f0c5b1' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23f1c6b0' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23f1c7b0' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23f2c8b0' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23f2c9b0' x='80' width='11' height='11'/%3E%3Crect fill='%23f3cbb0' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23f3ccb0' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23f3cdb0' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23f4cfb0' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23f4d0b0' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23f4d1b0' x='90' width='11' height='11'/%3E%3Crect fill='%23f4d3b0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23f4d4b1' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23f4d5b1' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23f4d7b1' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23f4d8b1' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23f4d9b2' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f4dbb2' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f4dcb2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f4deb3' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f3dfb3' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f3e1b4' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f3e2b4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f2e4b5' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f2e5b6' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f1e7b6' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f1e8b7' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f0eab8' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23efebb9' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23efecba' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

}

.formdiv {
  background-color: #beeefb;
  height: 50vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem auto;
  position: relative;
  border-radius: 23px ;
}

.box {
  background-color: #f1fdcd;
  width:50%;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  
}

.box::after,
.box::before {
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  background-color: #f1fdcd;
  z-index: -200;
    
  }


.box::before{
    top: 3rem;
    border-radius:23px;
  }

.box::after {
    bottom: 3rem;
    border-radius: 23px;
  }

.box2 {
  background-color: #1d58ab;
  width: 50%;
  margin-left: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;

  border-radius: 0 23px 23px 0;
}

.loginForm {
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0rem 4rem;
  padding-right: 52%;

  z-index: 100;
}

#password{
  background-color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-bottom: 2px solid #053271;
  margin: 0.5rem 0;
  width: 100%;
}

#username{
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #053271;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  width: 100%;
  font-family: 'Poppins';
  font-size: 1.5rem;
}

#password:focus{
  outline: none;
  border: none;
  border: 2px solid #053271;
  font-family: 'Poppins';
  font-size: 1.5rem;
}

#username:focus{
  outline: none;
  border: none;
  border: 2px solid #053271;
  
}

#loginButton{
  border-radius: 3px;
  padding: 1rem 3.5rem;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  box-shadow: 0 7px #999;
}

#loginButton:hover {
  background-color: #1b1b1b;
}

#loginButton:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#loginButton:focus {
  outline: none;
}

#title {
  font-size: 100rem;
  margin-bottom: 2rem;
  /* font-family: 'Grape Nuts'; */
}

.forgot{
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
  margin: 1rem 0 ;
}

h2 {
  text-align: center;
  padding-top: 30%;
  font-size: 10rem;
  font-family: 'Quicksand';
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(220, 156, 28),
      0 0 82px rgb(220, 156, 28),
      0 0 102px rgb(220, 156, 28),
      0 0 151px rgb(220, 156, 28);

}

img {
  width:200px;
  height: 200px;
  padding-right: 5px;
  margin: 10px;
}


