.card {
    width: 100%;
    height: 200px;
    background-color: #1d58ab;
    color: white;
    font-size: 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;

}

.cardquiz {
    width: 100%;
    height: 200px;
    background-color: #1d58ab;
    color: red;
    font-size: 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
  }


#imgHome {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 400px;
    
    
}

.imgCard {
    padding-left: 350px;
    padding-bottom: 120px;
}

#HomeLogo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 60px;
}
