@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Quicksand&display=swap');
.Home {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    margin: 1rem 0 ;
    padding:1rem;
  }

  .homeTitle {
    text-align: center;
    font-size: 9rem;
    font-family: 'Grape Nuts';
  }

  .carousel {
    margin: 75px;
  }

