@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Russo+One&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gloria+Hallelujah&family=Permanent+Marker&family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap");
/* * {
  background-color: #CCA9B4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23CCA9B4' width='11' height='11'/%3E%3Crect fill='%23ceaab4' x='10' width='11' height='11'/%3E%3Crect fill='%23cfabb4' y='10' width='11' height='11'/%3E%3Crect fill='%23d1abb4' x='20' width='11' height='11'/%3E%3Crect fill='%23d3acb4' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d4adb4' y='20' width='11' height='11'/%3E%3Crect fill='%23d6aeb4' x='30' width='11' height='11'/%3E%3Crect fill='%23d7aeb4' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d9afb4' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23dab0b4' y='30' width='11' height='11'/%3E%3Crect fill='%23dcb1b4' x='40' width='11' height='11'/%3E%3Crect fill='%23ddb2b4' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dfb3b4' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e0b4b3' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e1b5b3' y='40' width='11' height='11'/%3E%3Crect fill='%23e3b6b3' x='50' width='11' height='11'/%3E%3Crect fill='%23e4b7b3' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e5b8b3' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e6b8b3' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e7b9b2' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e8bbb2' y='50' width='11' height='11'/%3E%3Crect fill='%23e9bcb2' x='60' width='11' height='11'/%3E%3Crect fill='%23eabdb2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23ebbeb2' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23ecbfb1' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23edc0b1' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23eec1b1' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23efc2b1' x='70' width='11' height='11'/%3E%3Crect fill='%23efc3b1' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23f0c5b1' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23f1c6b0' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23f1c7b0' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23f2c8b0' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23f2c9b0' x='80' width='11' height='11'/%3E%3Crect fill='%23f3cbb0' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23f3ccb0' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23f3cdb0' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23f4cfb0' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23f4d0b0' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23f4d1b0' x='90' width='11' height='11'/%3E%3Crect fill='%23f4d3b0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23f4d4b1' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23f4d5b1' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23f4d7b1' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23f4d8b1' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23f4d9b2' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f4dbb2' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f4dcb2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f4deb3' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f3dfb3' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f3e1b4' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f3e2b4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f2e4b5' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f2e5b6' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f1e7b6' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f1e8b7' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f0eab8' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23efebb9' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23efecba' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
 } */

.Home {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    margin: 1rem 0 ;
    padding:1rem;
  }
  #welcomeSign {
    /* background-color: #053271; */
    border-radius: 23px 23px 23px 23px;
    margin-left: 20px;
  }

  .homeTitle {
    text-align: center;
    font-size: 8rem;
    /* font-family: 'sans-serif'; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Alfa Slab One', cursive;
    font-weight: 5;
    letter-spacing: 8px;
    color: #333;
    /* color: rgba(251, 246, 246, 0.847) */
    
  }

  .carousel {
    margin-top: 100px;
  }

  .carousel1 {
    padding-top: 90px;
  }

  .randomButton {
    margin-left: 700px;
    border-radius: 3px;
    padding: 1rem 3.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    box-shadow: 0 7px #999;
    bottom:-77px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #053271,
    0 0 82px #053271,
    0 0 92px #053271,
    0 0 102px #053271,
    0 0 151px #053271;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    box-shadow: 0 7px #999;
    margin-left: 850px;
    top: 100px;
    font-size: 2.5rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #053271,
              0 0 0.8rem #053271,
              0 0 2.8rem #053271,
            inset 0 0 1.3rem #053271;
    background-color: #010a01;
  }

  .quizButton{
    margin-right: 100px;
    border-radius: 3px;
    padding: 1rem 3.5rem;
    margin-top: 1rem;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #053271,
    0 0 82px #053271,
    0 0 92px #053271,
    0 0 102px #053271,
    0 0 151px #053271;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    box-shadow: 0 7px #999;
    margin-left: 240px;
    top: -39px;
    font-size: 2.5rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #053271,
              0 0 0.8rem #053271,
              0 0 2.8rem #053271,
            inset 0 0 1.3rem #053271;
    background-color: #010a01;
  }

  .chatButton {
      margin-right: 100px;
      border-radius: 3px;
      padding: 1rem 3.5rem;
      margin-top: 1rem;
      color: #fff;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #053271,
      0 0 82px #053271,
      0 0 92px #053271,
      0 0 102px #053271,
      0 0 151px #053271;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 1px;
      position: relative;
      box-shadow: 0 7px #999;
      margin-left: 600px;
      top: 30px;
      font-size: 2.5rem;
      animation: pulsate 1.5s infinite alternate;  
      border: 0.2rem solid #fff;
      border-radius: 2rem;
      padding: 0.4em;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #053271,
                0 0 0.8rem #053271,
                0 0 2.8rem #053271,
              inset 0 0 1.3rem #053271;
      background-color: #010a01;
  }

  .boxContainer {
    background-color: #f1fdcd;
    border-radius: 23px 23px 23px 23px;
    width: 90%;
    height: 600px;
    margin-left: 80px;
    position: relative;
    top: -80px;

    
  }

  h4 {
    color: white;
  }
