@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Quicksand&display=swap');
.Home {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    margin: 1rem 0 ;
    padding:1rem;
  }

  .homeTitle {
    text-align: center;
    font-size: 9rem;
    font-family: 'Grape Nuts';
  }

  .carousel {
    margin: 75px;
  }

  .randomButton {
    margin-left: 800px;
    border-radius: 3px;
    padding: 1rem 3.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    box-shadow: 0 7px #999;
    bottom:-7px;
  }

  .quizButton{
    margin-right: 100px;
    border-radius: 3px;
    padding: 1rem 3.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    box-shadow: 0 7px #999;
    margin-left: 500px;
    top: -50px;
  }

