@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Quicksand&display=swap');

#randomButton {
  margin-right: 100px;
    border-radius: 3px;
    margin-bottom: 50px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #053271,
    0 0 82px #053271,
    0 0 92px #053271,
    0 0 102px #053271,
    0 0 151px #053271;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: absolute;
    box-shadow: 0 7px #999;
    margin-left: 425px;
    top: 290px;
    font-size: 2.5rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #053271,
              0 0 0.8rem #053271,
              0 0 2.8rem #053271,
            inset 0 0 1.3rem #053271;
    background-color: #010a01;
    padding: 20px;
}

.backRandomButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    padding: 20px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #053271,
    0 0 82px #053271,
    0 0 92px #053271,
    0 0 102px #053271,
    0 0 151px #053271;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    margin-left: 80px;
    top: 300px;
    box-shadow: 0 7px #999;
    font-size: 2.5rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #053271,
              0 0 0.8rem #053271,
              0 0 2.8rem #053271,
            inset 0 0 1.3rem #053271;
    background-color: #010a01;

}

.randomContainer {
    background-color: #f1fdcd;
    border-radius: 23px 23px 23px 23px;
    width: 90%;
    height: 750px;
    margin-left: 80px;
    position: relative;
    bottom: -100px;
    margin-top: -30px;
}

#locationName {
  font-family: 'sans-serif';
  color: #333;
  font-size: 9rem;
}

.randomimg {
  /* padding-bottom: 10px; */
  width: 50%;
  height: 20%;
  margin-top: 50px;
  /* opacity: 0; */
  
}

p {
    font-size: 5rem;
    font-family:'Poppins'
}

.qouteBox {
  background-color: #053271;
  border-radius: 23px 23px 23px 23px;
  width: 500px;
  color: #fff;
  font-family: 'Poppins';
  /* padding-right: 50px; */
  margin-right: 50px;
}

.hidden1 {
  margin-top: -50px;
}



