button {
    margin: 10px;
    padding: 10px;
}

#quizButton {
  border-radius: 3px;
  padding: 1rem 3.5rem;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  box-shadow: 0 7px #999;
  margin-left: 500px;
  bottom:156px;
}

.hidden {
border-radius: 3px;
  padding: 1rem 3.5rem;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  box-shadow: 0 7px #999;
  margin-left: 400px;

}

